:root {
  --ff-serif: "DM Serif Display", serif;
  --ff-sans: "Public Sans", sans-serif;

  /* small screen font-sizes */
  --fs-200: 0.9375rem; /* 15px */
  --fs-300: 1.125rem; /* 18px */
  --fs-400: 1.5rem; /* 24px */
  --fs-500: 2rem; /* 32px */
  --fs-600: 2.25rem; /* 36px */

  --fw-400: 400;
  --fw-600: 600;

  --clr-white-100: #fbfcfe;
  --clr-white-200: #edf3f8;

  --clr-blue-100: #6c8294;
  --clr-blue-200: #36536b;
  --clr-blue-300: #1b262f;

  --clr-pink-100: #da6d97;
  --clr-pink-200: #ba4270;

  --br: 1rem;
}
  
