@import url("./style2.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.root {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  
}
/* Navigation Bar */
header {
  background-color: var(--clr-white-200);
  padding: 0 6rem;
}

header nav {
  padding: var(--fs-600) 0;
  width: 100%;
  z-index: 2;
  position: relative;
}

header nav ul {
  padding-left: var(--fs-600);
  padding-right: var(--fs-600);
}

header nav ul li {
  list-style-type: none;
  padding-left: var(--fs-600);
}

header nav ul li a {
  text-decoration: none;
  color: var(--clr-blue-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  color: var(--clr-blue-200);
}
/* Header Section */


header .container div:first-child {
  flex: 1 0 60%;
  padding: 10rem 0;
}

header .container div:last-child {
  flex: 1 0 40%;
  position: relative;
}

header .container h1 {
  font-size: 4rem;
  line-height: 1;
}

header .container img:first-child {
  position: relative;
  transform: scale(1.7);
  top: -150px;
  left: 60px;
}

header .container img:last-child {
  position: absolute;
  width: 55%;
  top: 50px;
  left: 70px;
}

header .container .input-box {
  margin-top: var(--fs-400);
  margin-bottom: 0.8rem;
}

header .container p {
  color: var(--clr-blue-200);
}
nav .btn {
  float: right;
}

.hamburgerbtn {
  display: none;
}



/* Brand section */

section.branding {
  background: var(--clr-blue-300);
  padding: 6rem;
  overflow-y: hidden;
  position: relative;
}

section.branding .text {
  flex: 1 0 40%;
  color: var(--clr-white-200);
  position: relative;
}

section.branding .text h1 {
  color: var(--clr-white-200);
  font-size: 2.5rem;
}

section.branding .text p {
  line-height: 1.6rem;
  padding: 1.5rem 0;
}

section.branding .text .btn {
  background: none;
  border: 1px solid var(--clr-white-200);
  transition: all 0.3s ease-in-out;
}

section.branding .text .btn:hover {
  background: var(--clr-white-200);
  color: var(--clr-blue-300);
}

section.branding .text .inner {
  z-index: 2;
  position: relative;
}

section.branding .text img {
  position: absolute;
  transform: scale(2.5);
  top: -220px;
  left: 50px;
}

section.branding .images {
  flex: 1 0 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding-left: 4rem;
  /* position: relative; */
}

section.branding img {
  width: 70%;
}

/* Features section */
section.features {
  background-color: var(--clr-white-200);
  padding: 4rem 6rem 2rem 6rem;
}
section.features > div {
  flex: 1 0 50%;
}
section.features > div h1 {
  font-size: 2.5rem;
}
section.features > div p {
  line-height: 1.6rem;
  padding: 1.5rem 0;
}


/* Features Second section */
section.features-section {
  background-color: var(--clr-white-200);
  padding: 0rem 6rem 2rem 6rem;
}
section.features-section img:first-child {
  transform: scale(1.5);
  position: relative;
  left: 80%;
  z-index: 1;
}
section.features-section > div {
  flex: 1 0 50%;
}
section.features-section > div h1 {
  font-size: 2.5rem;
}
section.features-section > div p {
  line-height: 1.6rem;
  padding: 1.5rem 0;
}
section.features-section img:last-child {
  position: absolute;
  width: 50%;
  right: -0px;
}

/* cards */
section.card {
  background-color: var(--clr-white-200);
  padding: 4rem 6rem 2rem 6rem;
}
section.card .wrapper {
  text-align: center;
  padding-right: 2.5rem;
}
section.card .wrapper > div {
  padding-left: 2.5rem;
}
section.card .wrapper img {
  width: 100px;
}
section.card .wrapper h3 {
  padding: 1rem 0;
  color: var(--clr-blue-200);
}
section.card .wrapper p {
  line-height: 1.6rem;
  color: var(--clr-blue-100);
}
/* input-box */
section.card .container {
  margin: 4rem 0;
  text-align: center;
}
section.card .container h1 {
  font-size: 3rem;
}
section.card .container div:first-child {
  flex: 1 0 40%;
}

/* Footer section */
footer {
  padding: 2rem 6rem;
  background-color: var(--clr-blue-300);
}
footer img {
  width: 150px;
}
footer ul li {
  padding-left: 2rem;
}
footer .fab {
  font-size: 1.5rem;
  padding-left: 1rem;
  color: var(--clr-white-100);
  transition: all 0.3s ease-in-out;
}
footer .fab:hover {
  color: var(--clr-pink-200);
}

